In [1]:
!pip3 install robobrowser --user

Requirement already satisfied: robobrowser in /home/m/.local/lib/python3.7/site-packages (0.5.3)
Requirement already satisfied: beautifulsoup4>=4.3.2 in /usr/lib/python3.7/site-packages (from robobrowser) (4.8.0)
Requirement already satisfied: requests>=2.6.0 in /usr/lib/python3.7/site-packages (from robobrowser) (2.22.0)
Requirement already satisfied: six>=1.9.0 in /usr/lib/python3.7/site-packages (from robobrowser) (1.12.0)
Requirement already satisfied: Werkzeug>=0.10.4 in /home/m/.local/lib/python3.7/site-packages (from robobrowser) (0.16.0)
Requirement already satisfied: soupsieve>=1.2 in /usr/lib/python3.7/site-packages (from beautifulsoup4>=4.3.2->robobrowser) (1.9.4)
Requirement already satisfied: chardet>=3.0.2 in /usr/lib/python3.7/site-packages (from requests>=2.6.0->robobrowser) (3.0.4)
Requirement already satisfied: idna>=2.5 in /usr/lib/python3.7/site-packages (from requests>=2.6.0->robobrowser) (2.8)
Requirement already satisfied: urllib3>=1.21.1 in /usr/lib/python3.7/site-packages (from requests>=2.6.0->robobrowser) (1.25.3)

In [2]:
import robobrowser
import json
import yaml
import os
import re
import pandas as pd
import numpy as np
import pickle

In [3]:
with open('packaged.pkl', 'rb') as fd:
    acc = pickle.load(fd)
len(acc)

1009759

In [5]:
websites = set()
for x in acc:
    if 'website' in x:
        websites.update(x.get('website'))
websites = list(websites)

www = pd.DataFrame(websites)
www.to_csv('websites.csv', header=False, index=False)
print(www.shape)
www.head(2)

(267098, 1)

                   0
0  WWW.BLACKBURN.EDU
1  WWW.NGONGROAD.ORG

In [6]:
patternRx = re.compile(r'(?:https?://)?(?:www\.)?([a-z0-9\.\-\_]+\.(?:com|org|net|us|info))(?:\/(\S+)?)?', re.IGNORECASE)

In [9]:
from robobrowser import RoboBrowser

In [10]:
b = RoboBrowser()

In [19]:
domain, folder = patternRx.search(website).groups()

In [20]:
domain

'BOWLBVBA.COM'

In [ ]:
redirected = {}
for website in websites:
    result = patternRx.search(website)
    if result:
        domain, folder = result.groups()
        uri = 'http://' + domain
        if folder:
            uri += '/' + folder
        try:
            b.open(uri)
            redirected[website] = b.url
        except:
            redirected[website] = None
#         break
    else:
        redirected[website] = None
print(len(redirected))
# redirected

In [ ]:
print('complete!')

In [7]:
simple = []

for x in acc:
    z = {}
    simple.append(z)
    for k, v in x.items():
        if len(v) == 1:
            z[k] = v[0]

In [8]:
len(simple)

1009759

In [9]:
s = pd.DataFrame(simple)
print(s.shape)
s.head()

(1009759, 8)

,ein,name,phone,addr1,city,state,zip,website
0,460274380,WINNER REGIONAL HEALTHCARE CENTER,6058427100,NaN,NaN,NaN,NaN,NaN
1,134078241,NaN,4132385372,311 RIVER ROAD,WORTHINGTON,MA,01098,N/A
2,263803825,NEW YORK STATE SOCIETY OF PLASTIC SURGEONS INC,5185987755,PO BOX 3728,ALBANY,NY,12203,NaN
3,580805316,BERRIEN COUNTY FARM BUREAU INC,2296867496,PO BOX 535,NASHVILLE,GA,31639,N/A
4,272136389,Madison County Firefighters Foundation Inc,7656354785,824 West 3rd Street,Anderson,IN,46016,N/A